---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<Header />
	</head>
	<body>

		<div class="container">
			<div class="row">
				<div class="col-md-12"></div>
					<h4>Coming soon.</h4>
			</div>
			<div class="row">
				<div class="col-md-12"></div>
					<img src="yclkg.jpg" alt="image" width="500" height="500">
			</div>
		</div>
		<Footer />
	</body>
</html>
