---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>

		<div class="container">
			<div class="row">
				<div class="col-md-12"></div>
                    <h1>Softly Spoken</h1>
                    <h3>Art // Culture // Fiction // Performance</h3>
					<h6>Coming soon</h6>
			</div>
		</div>
	</body>

    <style>
    .container{
        padding: 155px;
    }

    body{
        background-image: url('yclkg.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: cover;
        background-position-y: 30%;
        
    }

    h1{
        color: #ffff;
        text-align: center;
        font-size: 230px !important;
        font-family:'HelveticaNeue-CondensedBold', Times, serif !important;
    }

    h3{
        color: #ffff;
        text-align: center;
    }

    h6{
        color: #ffff;
        text-align: center;
    }
    
    </style>
</html>
